.Actions {
    width: 100%;
    display: flex;
    align-items: center;
    padding:10px;
    margin-top:-3px;
    top:0;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    .button {
        width: 120px;
        background-color: rgba(0,0,0, 0.7);
        border: 3px solid rgba(0,0,0,0.9);
        color: white;
        padding: 15px 25px;
        text-align: center;
        font-size: 18px;
        font-family: sans-serif;
        cursor: pointer;
        margin-bottom: 5px;
        img {
            display: inline-block;
            padding-top:2px;
            height: 18px;
            width: 18px;
        }
    }
}